<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
    <link rel="stylesheet" href="angular-chart.css">
    <script src="angular-chart.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
	<link rel="icon" type="image/png" href="banana.png">
  </head>
  <body id="body" class="container" ng-controller="candidateCtrl">

    <!-- The democrat side with pie chart underneath -->
      <div id="democrats" ng-repeat="candidate in democrats">
        <div class="candidate">
          <img ng-click="vote(candidate)" ng-src="{{candidate.url}}" class="link">
          <h6>{{candidate.name}}</h6>
        </div>
      </div>

    <!-- The total democrat/repub levels -->
    <div id="charts" class="middle" ng-controller="PieCtrl">
      <h2>Republican Votes</h2>
      <canvas id="pie" class="chart chart-pie" chart-data="rdata" chart-labels="rlabels"></canvas>
      <h2>Republican Vs Democratic Votes</h2>
      <canvas id="pie" class="chart chart-pie" chart-data="bdata" chart-labels="blabels"></canvas>
      <h2>Democratic Votes</h2>
      <canvas id="pie" class="chart chart-pie" chart-data="ddata" chart-labels="dlabels"></canvas><br>
    </div>

    <!-- The republican side with pie chart underneath -->
      <div id="republicans" ng-repeat="candidate in republicans">
        <div class="candidate">
          <img ng-click="vote(candidate)" ng-src="{{candidate.url}}" class="link">
          <h6>{{candidate.name}}</h6>
        </div>
      </div>
    <div id="light" class="white_content">Thanks For Voting.</div>
    <div id="fade" class="black_overlay"></div>
  </body>
</html>
