html, body {
  padding:0 0 0 0;
  margin: 0 0 0 0;
}

body {
  color: #fff;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 150%;
  text-align: center;
  text-shadow: 0 2px 2px #b6701e;
}

div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 1.75rem;
  margin: 0 0 0 0;
}

/* Pattern styles */
.container {
  display: flex;
  flex-wrap: wrap;
}

#democrats {
  background-color: #466C95;
  flex: 1;
  padding: 0em;
}

#republicans {
  background-color: #FF7676;
  flex: 1;
  padding: 0em;
}

.candidate {
	margin: 1em;
	padding: 0, 0, 0, 0;
}

.candidate img {
	box-shadow: 10px 5px 5px black;
  margin:auto;
  padding: auto;

  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.link {
	cursor: pointer;
}

.middle {
	background-color: #5DAE8B;
	flex: 1;
}

.middle h2 {
	margin: 1em;
}

/*overlay*/
.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}
.white_content {
  display: none;
  position: absolute;
  top: 25%;
  left: 35%;
  width: 25%;
  height: 25%;
  padding: 16px;
  background-color: white;
  z-index:1002;
  overflow: auto;
  border-radius: 4%;
}