<!DOCTYPE html>
<html>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<head><title>Family History Angular Example</title></head>
<style type="text/css">
	body {
		background-color:lightgray;
	}
	.container {
		max-width:500px;
		text-align:center;
		margin:auto;
		background-color:lightblue;
		padding:10px;
		border:dashed gray 2px;
	}
	input {
		margin:5px;
	}
}
</style>
<body ng-app="myApp" ng-controller="familyCtrl">
<div class="container">
<h2>Family History Angular Example</h2>

<form ng-submit="relationAdd()">
    <input type="text" ng-model="person" size="20" placeholder="Person">
    <input type="text" ng-model="father" size="20" placeholder="Father">
    <input type="text" ng-model="mother" size="20" placeholder="Mother">
    <input class="button" type="submit" value="Add New">
</form>

<br>

<div ng-repeat="x in relations">
    <input type="checkbox" ng-model="x.done"> <span ng-bind="x.relation"></span>
</div>

<p><button class="button" ng-click="remove()">Remove marked</button></p>

<script>
var app = angular.module('myApp', []); 
app.controller('familyCtrl', function($scope) {
	$scope.relations = [];
    $scope.relationAdd = function() {
        $scope.relations.push({relation:$scope.person + ", " + $scope.father + ", " + $scope.mother, done:false});
        $scope.father = "";
        $scope.person = "";
        $scope.mother = "";
    };

    $scope.remove = function() {
        var oldList = $scope.relations;
        $scope.relations = [];
        angular.forEach(oldList, function(x) {
            if (!x.done) $scope.relations.push(x);
        });
    };
});
</script>
</div>
</body>
</html>