<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Angular Lab3</title>
</head>
<body>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css" />
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/skeleton.css" />
  <script src="js/users.js"></script>
  <div ng-app="app" ng-controller="mainCtrl">

    <div class="container">
      <div class="row">
        <div class="eight columns offset-by-two">
          <h1>Create new user</h1>
          <form name='userForm' ng-submit='addNew(userForm)'>
            <input placeholder='Name' ng-model='userForm.name'>
            <input placeholder='Image Url' ng-model='userForm.url'>
            <button type='submit' class="button-primary">Add New</button>
          </form> 
        </div>
      </div>
      <div class='User-list twelve columns clearfix'>
        <div ng-repeat='user in users' ng-click="remove(user)">
          <avatar user='user' class="two columns">
        </div>
      </div>
    </div>
    
  </div>
</body>
</html>