<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
	<title>Joker News</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<body>

	<div id="header">
	  <div class="left">
	    <img src="favicon.ico">
	    <b>Joker News</b>
	    <ul id="nav">
	      <a href="/"><li>new</li></a>
	      <a href="/createJoke"><li>submit</li></a>
	    </ul>
	  </div>
	  <div class="right">
	  </div>
	</div>

	<form class="mainBody" method="POST" action="/addJoke">
		<table border="0">
			<tbody>
				<tr>
					<td>name</td>
					<td><input type="text" name="name" value="" size="50"></td>
				</tr>
				<tr>
					<td>categories</td>
					<td><input type="text" name="categories" value="" size="50"></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td>joke</td>
					<td><textarea name="joke" rows="4" cols="49" style="margin: 0px; width: 411px; height: 64px;"></textarea></td>
				</tr>
				<tr>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td></td>
					<td><input id="submit" type="submit" value="submit"></td>
				</tr><tr style="height:20px"></tr>
				<tr>
					<td></td>
				</tr>
			</tbody>
		</table>
	</form>
</body>
</html>