<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>Joker News</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/js/angApp.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
  </head>
  <body>
    <div id="header">
      <div class="left">
        <img src="favicon.ico">
        <b>Joker News</b>
        <ul id="nav">
          <a href="/"><li>new</li></a>|
          <a href="/createJoke"><li>submit</li></a>
        </ul>
      </div>
      <div class="right">
      </div>
    </div>

    <div class="mainBody" ng-controller="jokesListCtrl">
      <div id="jokes" ng-repeat="joke in jokesList track by $index">
        <Joke joke="joke" index="{{$index}}" on-upvote="upvote($index)"></Joke>
      </div>
      <br>
      <div id="bar"></div>
    </div>

    <script type="text/javascript">
      function htmlDecode(input){
        var e = document.createElement('div');
        e.innerHTML = input;
        return e.childNodes.length === 0 ? "" : e.childNodes[0].nodeValue;
      }
      window.jokes = JSON.parse(htmlDecode("<%= JSON.stringify(jokes) %>"));
    </script>
  </body>
</html>
