html {
	font-family: "sans-serif";
}

body {
	width: 85%;
	margin: auto;
	margin-top: 8px;
	margin-bottom: 10px;
}

.categories, .id, .votes, .author {
	font-size: .5em;
	color: light-gray;
	display: inline;
	line-height: 1em;
}

.bottomHalf {
	margin-left: 2em;
}

.index {
	font-size: .8em;
	display:inline;
	text-align: right;
}

img:hover{
	cursor: crosshair;
}

.jokeContent {
	font-size: .8em;
	display:inline;
	color: black;
}

.Joke {
	display:inline;
}

.mainBody {
	background-color: #f6f6ef;
	color: gray;
	padding: 10px;
}

#header {
	background-color: #ff6600;
}

#header .left * {
	list-style: none;
	display: inline;
}

a {
	text-decoration: none;
	color: black;
	padding-right: 7px;
	font-size: .8em;
	line-height: 200%;
}

#bar {
	background-color: #ff6600;
	height: 2px;
}
