body {
	background: url('dark.jpg') center center fixed no-repeat;
	background-size: 100%;
	background-color: black;
}

div.hompage table, li{
	position: relative;
}
	
	.image img{
		border-radius: 10px;
		padding-left: 15px;
		padding-top: 10px;
		padding-bottom: 10px;
		max-height: 300px;
	}

	h3 {
		color: white;
	}	
	
	.Personal_Info, th, td, tr{
   top: 50%;
   margin-top: 50px;
		font-family:"Courier New", Times, sans-serif;
		text-align: center;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px;
		border-radius: 10px;
		background-color: gray;
	}

	.nav li{
		font-family:"Courier New", Times, sans-serif;
		display: inline;
		color: #B45375;
		padding: 6px 10px;
	    background: gray;
		-webkit-border-radius: 4px;
	    -moz-border-radius: 4px;
	    -o-border-radius: 4px;
	    border-radius: 4px;
	    border: solid 1px black;
	    color: black;
	    -webkit-transition: all 1s ease-in-out;
	    -moz-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
	}

	.nav li:hover{
		background-color: #DCDCDC;
	}