.User-list {
	min-width: 100%;
	min-height: 30em;
	background-color: #33C3F0;
	border: gray solid 2px;
	border-radius: 10px;
	padding: 5px;
}

.Avatar img {
  margin:auto;
  padding: auto;

  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Avatar {
	text-align: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
	padding: 10px;
}