<!DOCTYPE html>
<html>
<head>
  <title>Comments!</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
<link rel='stylesheet' href='/stylesheets/style.css' />
<script src="javascripts/comments.js"></script>
</head>

<body>
	<form id="commentForm" action="">
	  <label for="name">Name: </label><input type="text" id="Name" placeholder="Name"><br>
	  <label for="comment">comment: </label><input type="text" id="Comment" placeholder="Comment"><br>
	</form>

	<button id="serialize">Serialize form values</button>
	<button id="getThem">Get Comments</button>
	<div id="json"></div>
	<div id="done"></div>
	<div id="comments"></div>
</body>
</html>